{
  "release": {
    "verifyConditions": [
      "patrickvaler/neeo-driver-dyson-pure-cool-tp04", 
      "patrickvaler/npm", 
      "patrickvaler/git"
    ],
    "prepare": [
      "patrickvaler/neeo-driver-dyson-pure-cool-tp04", 
      "patrickvaler/npm", 
      "patrickvaler/git"
    ],
    "generateNotes": {
      "preset": "angular",
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
      },
      "writerOpts": {
        "commitsSort": ["subject", "scope"],
      }
    }
  }
}